<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1073216946532-2iuh6l9uhvrt9d7ui7nso3jkb7dmfasb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073216946532-2iuh6l9uhvrt9d7ui7nso3jkb7dmfasb</string>
	<key>API_KEY</key>
	<string>AIzaSyAdVwlsQXmUxwnILfiw6UXsZC8Ox6OzZwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1073216946532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.kaptureApp</string>
	<key>PROJECT_ID</key>
	<string>kapty-56eaa</string>
	<key>STORAGE_BUCKET</key>
	<string>kapty-56eaa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073216946532:ios:df1b14e90b823bb248ba71</string>
</dict>
</plist>